.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input[type="checkbox"]{
    position: relative;
    width: 100px;
    /*-webkit-appearance: none;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #c6c6c6;
   
}