
.input{
    position:relative;
    padding: 3em 0 0 0;
}
.input input{
    display: block;
    width: 100%;
    outline: none;
    border: 0;
    
}

input~label{
    position:absolute;
    bottom:0.7em;
    left: 0.2em;
    color:#707070;
    pointer-events: none;

}


input~.barra{
    display: block;
    height: 1px;
    border-bottom: 1px solid #707070;
    transition: ease 0.2s all;
}
.w-80{
    width:80%
}
.mt-3{
    margin-top: 3em;
}